
<p-panel class="card m-2" [showHeader]="false">
  <div class="flex flex-column flex-wrap align-items-center justify-content-center card-container">
      <div class="h-4rem  w-full border-round font-bold mt-2 ml-1 mr-2 flex align-items-center justify-content-center">
        Titulo del proyecto
      </div>
      <hr class="w-full">
      <div class="h-26rem w-full  mt-2 ml-1 mr-2 flex  justify-content p-3 ">
        Descripcion del proyecto
      </div>
      <hr class="w-full">
      <div class="h-15rem w-full  mt-2 ml-1 mr-2 flex justify-content p-3">
        Footer
      </div>
  </div>
</p-panel>
